@model List<VParadaInterurbana>
@{
    ViewData["COLORLAYOUT"] = "#23cf2f";
    ViewData["CONTROLLER"] = ViewContext.RouteData.Values["Controller"]?.ToString();
    List<VParadaInterurbana> paradasFavoritas = ViewData["FAVORITAS"] as List<VParadaInterurbana>;
    VParadaInterurbana paradaBuscada = ViewData["PARADABUSCADA"] as VParadaInterurbana;
}


<div class="p-4 border-bottom border-1 border-success d-flex w-100 align-items-center" style="border-color: limegreen">

    <div>
        <h2 class="mb-0">Buscador de buses <span style="color: limegreen">Interurbanos</span></h2>
    </div>

    <div class="ms-auto">
        <form method="post" class="d-flex gap-2">
            <input class="form-control" name="codigo" type="text" placeholder="Código de parada" />
            <button class="btn text-light" style="background-color: limegreen">
                Buscar
            </button>
        </form>
    </div>

</div>

@if (paradaBuscada != null)
{
    <a asp-controller="Interurbano" asp-action="Horas" asp-route-codigo="@paradaBuscada.Codigo">
        <div class="w-100 border-bottom border-1 border-success p-3 d-flex align-items-center gap-3">
            <img src="~/images/interurbano.png" width="50" height="30"/> 
            <h6 class="mb-0"><span class="fw-bold">#@paradaBuscada.Codigo</span> | @paradaBuscada.Nombre</h6>
            <div class="d-flex gap-2 ms-auto flex-wrap">
                @foreach (Linea linea in paradaBuscada.Lineas)
                {
                    <div class="badge bg-success text-light">@linea.Codigo</div>
                }
            </div>
        </div>
    </a>
}
else if (paradasFavoritas != null)
{
    @foreach (VParadaInterurbana parada in paradasFavoritas)
    {
        <a asp-controller="Interurbano" asp-action="Horas" asp-route-codigo="@parada.Codigo">
            <div class="w-100 border-bottom border-1 border-success p-3 d-flex align-items-center gap-3">
                <img src="~/images/interurbano.png" width="50" height="30" />
                <h6 class="mb-0"><span class="fw-bold">#@parada.Codigo</span> | @parada.Nombre</h6>
                <div class="d-flex gap-2 ms-auto flex-wrap">
                    @foreach (Linea linea in parada.Lineas)
                    {
                        <div class="badge bg-success text-light">@linea.Codigo</div>
                    }
                </div>
            </div>
        </a>
    }
}
else if (Model != null)
{
    @foreach (VParadaInterurbana parada in Model)
    {
        <a asp-controller="Interurbano" asp-action="Horas" asp-route-codigo="@parada.Codigo">
            <div class="w-100 border-bottom border-1 border-success p-3 d-flex align-items-center gap-3">
                <img src="~/images/interurbano.png" width="50" height="30" />
                <h6 class="mb-0"><span class="fw-bold">#@parada.Codigo</span> | @parada.Nombre</h6>
                <div class="d-flex gap-2 ms-auto flex-wrap">
                    @foreach (Linea linea in parada.Lineas)
                    {
                        <div class="badge bg-success text-light">@linea.Codigo</div>
                    }
                </div>
            </div>
        </a>
    }
}